#main-container{
    margin: auto; 
    width: 500px;
}

h2{
    text-align: center;
}

ul{
    background-color: #ccc; 
    width: 140px;
    margin: auto; 
    padding: 20px;
}

li{
    margin-left: 20px;
}